.container{
  height: 100%;
  margin-top: 3.5rem;
}

.containerPlayer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-content: center;
    align-items: center;

}

.player {
  width: auto;
  margin: 5%;
}


