.projects{
    height: 100vh;
    margin-top: 2rem;

}
.containerPlayer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 5rem;
    margin-top: 10%;
    justify-content: center;
    align-items: center;

}

.player {
    width: auto;
}


