.skills {
  height: 100%;
}

.logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;


}

.logos h2 {
  background-color: #fff;
  align-items: start;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  margin: 0.5rem;
}


.button {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #3f13a4;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 8rem;
  height: 8rem;
  justify-content: center;
  align-items: center;

}

.button:hover {
  border-color: #646cff;
}

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

.descripcion {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 5px;
  display: none;
}

.logos p {
  text-align: center;
  margin: 0.25rem;
}

.button svg {
  font-size: 4rem;
}

.columnas {
  display: flex;
  width: 100%;
}

.academico1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

}



.item {
  display: flex;

  width: 50%;
  text-align: left;
  align-items: center;
}

.item svg {
  font-size: 2rem;
  margin-right: 1rem;
  margin-left: 2rem;
}
