.container {
  display: flex;
  justify-content: left;
  flex-direction: row;
  margin: 2rem 0 2rem 0;
  align-items: center;
  height: 60vmin;
}
.image {
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  margin-left: 5rem;
}

.paragraph {
  width: 30rem;
  text-align: left;
  margin-left: 5rem;
}

button{
  display: flex;
  justify-content: left;
  margin-left: 5rem;
}
