.container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;


}
.container h1{
margin-bottom: 1rem;


}

.container p{
  font-size: 1.2rem;
  font-weight:500;
  color: #1282A2;
  margin-bottom: 1rem;
  
  
  }

.containerAbout {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

  height: 100vh;
  margin-top: -2rem;
}

.paragraph {
  text-align: left;
}

.buttonContainer {
  display: flex;
  width: 50%;
  justify-content: left;
  margin-top: 10%;

}

.imageContainer{
  display: flex;
  width: 100%;
  justify-content: center;
}

.image {
  display: flex;
  border-radius: 100%;
  width: 300%;
  max-width: 300px;
  margin-left: 5rem;
}


@media (max-width: 900px) {

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* 100% del viewport height */
    margin-bottom: 100px;
    margin-top: 10%;
  }


  .containerAbout {
    margin-top: 8%;
    flex-direction: column-reverse;
    justify-content: left;
    align-items: start;
  }

  .image{
    display: flex;
    margin:0 ;
    width: 60%;
    justify-content: center;
    align-items: center;
  }





}