.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.boxContact {
    display: flex;
    height: 30rem;
    width: 70%;
    background-color: #034078;
    margin-top: 10%;
    justify-content: center;
    text-align: left;
}


.filete {
    margin-top: 4rem;
    width: 100%;
    height: 1px;
    background-color: #fafafa;
}

.boxes {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;

}


.staticContent {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: flex-start;
    margin-left: 2rem;
    margin-right: 2rem;
}

.staticContent p {
    margin-top: 0rem;
}



.contact {
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;

}

.contact div {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 0.2rem;
}

.contact img {
    width: 1rem;
    height: 1rem;
    filter: invert();
    margin-right: 0.5rem;
    margin-top: -1rem;

}

.input {
    width: 100%;
    height: 30%;
}

.send {

    margin-bottom: 1rem;
}

.input p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}

.input input {
    height: 30%;
    width: 100%;
}

.message {
    height: 9rem;
    width: 100%
}

.message textarea {
    width: 100%;
    height: 5rem;
    /* Altura inicial del textarea */
    resize: vertical;
    /* Permite que el usuario pueda redimensionar verticalmente */
    overflow-y: auto;
    /* Añade una barra de desplazamiento vertical cuando el contenido excede la altura */
    padding: 5px;
    /* Agrega un poco de espacio interno para que el texto no toque los bordes */
    box-sizing: border-box;
    /* Incluye el relleno y el borde en el ancho y alto total */
    text-align: left;
    /* Alinea el texto a la izquierda */
    vertical-align: top;
    /* Alinea el texto en la parte superior del textarea */
}

.message p {
    font-size: 0.8rem;
    margin-bottom: 0.3rem;
}


.error {
    color: #f3f703;
    font-size: small;
    padding: 0;
    margin-bottom: -1rem;
}


@media (max-width:915px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .boxContact {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 100%;
        justify-content: center;
    }

    .staticContent {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: flex-start;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .boxes {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        height: 90%;
        margin-top: -1rem;
        margin-left: 1.5rem;
        margin-right: 2rem;


    }
}