.containerNav {
  display: flex;
  position: fixed;
  right: 4rem;
  background-color: #0A1128;
  width: 100%;
  height: 4rem;
  justify-content: right;

}

.containerNav button {
  display: none;
}

.navbar {
  display: flex;
  justify-content: right;
  list-style-type: none;
}

.navbar li {
  margin: 1rem;
}

@media (max-width:915px) {
  .containerNav button {
    display: flex;
    margin-right: -3rem;
    align-items: center;
    background-color: none;

  }

  .open {
    display: flex;
    color: #f9f9f9;
    z-index: 9999;
  }

  .close {
    display: flex;
    color: #f9f9f9;
    z-index: 9999;
  }

  .navbar {
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: -4rem;
    bottom: 0;
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #0a0202;
    height: 100vh;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  }

  .navbarClose{
    display: none;
  }

}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


.active {
  border-bottom: 2px solid white; /* Ajusta el grosor y color del subrayado según tus preferencias */
  padding-bottom: 2px; /* Ajusta el espacio entre el texto y el subrayado según tus preferencias */
}