.bar{
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 2rem;
    align-items: center;
    justify-content: center;
    height: 100%;

    
}

.bar li{
    display: flex;
    background-color: #FFFFFF ;
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    list-style-type: none;
    color: #0A1128;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-top: 2rem;
}

.bar a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #0A1128;
    
    
}


.bar .github img{
    width: 3.2rem;
}

.bar img{
    width: 1.5rem;
    
}
