.container {
  display: grid;
  grid-template-areas:
    "home home home home"
    "skills skills skills skills"
    "projects projects projects projects"
    "about about about about"
    "contact contact contact contact";
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
}

.navbar {
  grid-area: navbar;
}
.home {
  grid-area: home;
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}
.skills {
  grid-area: skills;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;


}

.projects {
  grid-area: projects;
  height: 100%;
  padding: 1rem;

}
.about {
  grid-area: about;
  height: 100%;
  padding: 1rem;
  
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

}
.contact {
  grid-area: contact;
  height: 100vh;
  padding: 1rem;

  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;

}



@media(max-width:915px){
  .container{
    height: 100vh;
  }
  h2{
    margin-left: 3rem;
  }
}