.container {
  display: grid;

  grid-template-areas:
    "home home home home"
    "skills skills skills skills"
    "projects projects projects projects"
    "about about about about"
    "contact contact contact contact";
  justify-content: center;
  overflow: 100vh;
  width: auto;
  height: 100vh;
 padding-left: 10%;
 padding-right: 10%;
}

.navbar {
  grid-area: navbar;
}
.home {
  height: 100%;
  grid-area: home;
  display: flex;
  justify-content: center;
}
.skills {
  height: 100%;
  grid-area: skills;
}
.projects {
  height: 100%;
  grid-area: projects;
}
.about {
  height: 100%;
  grid-area: about;

}
.contact {
  height: 100vh;
  grid-area: contact;
}



