:root {
  font-family: poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0A1128;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

}

a {
  font-weight: 500;
  color: #fafafa;
  text-decoration: inherit;
}
a:hover {
  color: #1282A2;;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 350%;
  line-height: 1.1;
}

h2{
  font-size: 1.5rem;
  text-align: left;
}

button {
  background-color: #1282A2;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 1rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
  cursor:pointer;

}

button:hover {
 border-color: #646cff;


}