.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 1rem;
}

.imageContainer {
    width: 50%;
}



.paragraph {
    width: 50%;
    text-align: left;
    font-size: 0.8rem;
}



.imageContainer {
    display: flex;
}


.image1 {
    width: 10%;
    margin: auto;
    transform: rotate(-2deg);
    transition-duration: 1500ms;

}

.image1:hover {
    transform: rotate(0deg);
    box-shadow: 100%; /* Revisar si necesitas más ajustes en el sombreado */
    width: 60%;

    margin: none;

}

.image2 {
    width: 100%;
    margin: auto;
    transform: rotate(0deg);
    transition-duration: 3000ms;
}

.image2:hover {
    transform: rotate(0deg);
    box-shadow: 100%; /* Revisar si necesitas más ajustes en el sombreado */
    width: 100%;
    z-index: 1;
    margin: none;
}

/* Cuando no está en estado :hover, restablecer a los valores originales */
.image1:not(:hover){
    width: 40%;
    margin: auto;
    transform: rotate(-3deg);
    transition-duration: 1500ms;
    z-index: 1; /* Ajustar según sea necesario */
}

.image2:not(:hover) {
    width: 40%;
    margin: auto;
    transform: rotate(3deg);
    transition-duration: 1500ms;
    z-index: 1; /* Ajustar según sea necesario */
}


@media (max-width:915px){
    .container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 10%;
    }

    .paragraph {
        width: 80%;
        text-align: left;
        font-size: 0.8rem;
    }
}